@import url(https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Cabin:400,600);
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

h1 {
  font-size: 28px;
  letter-spacing: 1px; }

h2 {
  font-size: 16px;
  letter-spacing: 1px; }

html {
  box-sizing: border-box; }

.clearfix::after {
  clear: both;
  content: '';
  display: table; }

.mapboxgl-map {
  border-radius: 10px; }

body {
  margin: 0;
  font-family: "Cabin", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
  letter-spacing: 1px; }

.container, .content-header, .header {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  position: relative; }

.flex, .column, footer, .cards div, .offer-list, .horizontal-scroll, .cards, .gallery-images, .price-per-month, .tags, footer div, .header, .header-offers div, .offer-list > div, .small-offers .column div > div, .small-offers footer div > div, .small-offers .cards div div > div, .cards .small-offers div div > div, .small-offers .offer-list div > div {
  display: flex;
  justify-content: space-between; }

.column, footer, .cards div, .offer-list {
  flex-direction: column; }

.content {
  background-color: white; }

.horizontal-scroll, .cards, .gallery-images, .price-per-month, .tags {
  flex-wrap: nowrap;
  overflow-x: auto; }
  .horizontal-scroll div, .cards div, .gallery-images div, .price-per-month div, .tags div {
    flex: 0 0 auto; }

.scroll-area {
  position: relative; }
  @media screen and (min-width: 768px) {
    .scroll-area > :first-child {
      padding-left: calc(50% - 500px); } }

.fade-right {
  position: absolute;
  width: 60px;
  height: 100%;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  top: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  right: 0; }

.content-header {
  margin: 50vh auto -20px;
  height: 80px;
  border-radius: 40px 40px 0 0;
  background-color: white;
  display: flex; }
  .content-header h1 {
    margin: 30px 40px 0; }

.responsive {
  flex-direction: column; }
  @media screen and (min-width: 1024px) {
    .responsive {
      justify-content: space-around;
      flex-direction: row; } }

footer {
  padding: 20px 0;
  background-color: #f2f2f2; }
  footer div {
    justify-content: center; }
    footer div * {
      margin: 0 10px;
      color: #B8B8B8;
      text-decoration: none;
      opacity: .6;
      transition: all 0.3s ease-in-out;
      padding: 5px 20px; }
      footer div *:hover {
        opacity: 1;
        background: white;
        border-radius: 30px; }
  footer p {
    color: #B8B8B8;
    margin: 10px auto;
    font-size: 10px;
    padding: 20px 0; }

.header {
  height: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%); }
  .header img {
    margin: 10px 20px;
    height: 40px; }

.header-offers div {
  background-color: white;
  border-radius: 100px;
  margin: 10px 10px;
  padding: 0 10px 0 20px;
  cursor: pointer;
  z-index: 2;
  align-items: center;
  font-size: 10px; }
  .header-offers div span {
    font-size: 14px; }
  .header-offers div i {
    margin: 5px 5px 0;
    height: 30px;
    width: 30px;
    color: #219BC6; }

.hero-area {
  z-index: -1;
  position: fixed;
  top: 0;
  height: 60vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end; }
  .hero-area .container, .hero-area .content-header, .hero-area .header {
    height: 100%; }

.cards {
  font-family: "Cabin", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 40px; }
  .cards div {
    justify-content: flex-end;
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    margin-left: 0;
    border-radius: 5px 5px 8px 8px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .cards div:hover {
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05); }
    .cards div h3 {
      margin: 0 10px;
      text-shadow: 0 0 10px black;
      letter-spacing: 1px; }
    .cards div p {
      font-size: 10px;
      color: #B8B8B8;
      background-color: white;
      margin: 10px 0 0;
      padding: 10px 5px;
      border-radius: 0 0 5px 2px; }

.description {
  margin: 0 40px 0;
  background-color: white;
  text-align: justify;
  border-radius: 40px 40px 0 0; }
  .description p {
    font-family: "Cabin", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1px;
    color: #B8B8B8;
    display: flex;
    align-items: center; }
    .description p img {
      margin: auto 10px;
      width: 20px; }
  .description h3 {
    margin: 40px 40px 60px; }

.gallery-images div {
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 5px; }

.gallery-highlight {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  margin-bottom: 50px; }
  .gallery-highlight .previous,
  .gallery-highlight .next {
    position: absolute;
    height: 100%;
    width: 30px;
    background-color: #00000042;
    top: 0;
    cursor: pointer; }
    .gallery-highlight .previous::hover,
    .gallery-highlight .next::hover {
      background-color: black; }
    .gallery-highlight .previous::before,
    .gallery-highlight .next::before {
      content: '\221F';
      position: absolute;
      color: white;
      top: 50%;
      transform: rotate(45deg);
      margin: 10px; }
  .gallery-highlight .next {
    right: 0; }
    .gallery-highlight .next::before {
      margin: 10px 0 10px 5px;
      transform: rotate(-135deg); }

.marker {
  height: 12px;
  width: 12px;
  border: 8px solid #219BC6;
  border-radius: 100%; }

.map {
  width: 100%; }
  .map > div {
    margin: auto; }
  @media screen and (min-width: 1024px) {
    .map {
      width: 50%; }
      .map > div {
        margin-left: 0; } }

.offer-list {
  max-height: 500px;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: unset; }
  .offer-list > div {
    flex-wrap: wrap;
    margin: 10px 0 30px;
    align-items: baseline;
    justify-content: space-between;
    width: 100%; }
  .offer-list span {
    color: #219BC6;
    font-size: 22px; }
  .offer-list img {
    height: 30px;
    width: 30px;
    margin: auto 0 -7px; }

.offer {
  padding: 10px;
  position: relative;
  transition: all 0.3s ease-in-out; }
  .offer + .offer {
    margin-left: 20px; }
  .offer:hover {
    background-color: #f2f2f2;
    border-radius: 4px; }
  .offer i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #219BC6; }

.small-offers {
  text-align: left; }
  .small-offers > div {
    margin-bottom: 20px; }

.small-offers h4,
.offer-list h4 {
  margin: 0;
  text-transform: capitalize; }

.small-offers p,
.offer-list p {
  color: #B8B8B8;
  font-size: 10px;
  margin: 0; }

.offers {
  justify-content: space-evenly; }
  .offers div {
    cursor: pointer; }
    .offers div + div {
      margin-top: 10px; }

.small-offers .column div > div, .small-offers footer div > div, .small-offers .cards div div > div, .cards .small-offers div div > div, .small-offers .offer-list div > div {
  align-items: center; }
  .small-offers .column div > div i, .small-offers footer div > div i, .small-offers .cards div div > div i, .cards .small-offers div div > div i, .small-offers .offer-list div > div i {
    margin: 0 20px 0 auto;
    color: #219BC6; }

.price-per-month {
  justify-content: end;
  margin: 40px auto 20px;
  padding: 30px 0; }
  .price-per-month .price {
    width: 40px;
    background-color: #219BC6;
    margin: auto 10px 0;
    position: relative;
    opacity: .7;
    transition: all 0.3s ease-in-out;
    cursor: pointer; }
    .price-per-month .price .period,
    .price-per-month .price .value {
      position: absolute;
      bottom: -30px;
      font-size: 8px;
      color: #B8B8B8;
      text-align: center;
      left: 50%;
      transform: translate(-50%); }
    .price-per-month .price .value {
      top: -15px;
      color: #333;
      font-size: 10px;
      font-weight: 600; }
    .price-per-month .price:hover {
      opacity: 1; }

.price-axis {
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  border: none;
  margin: -40px 0 40px; }

.tags div {
  padding: 20px 0;
  padding: 10px 20px;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: 10px;
  margin: 20px 10px 20px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: #f2f2f2;
  color: black; }
  .tags div:hover {
    background-color: #219BC6;
    color: white; }


/*# sourceMappingURL=styles.chunk.css.map*/