body {
  margin: 0;
  @include font-default();
}

.container {
  width: 100%;
  margin: auto;
  max-width: $size_container;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.column {
  @extend .flex;
  flex-direction: column;
}

.content {
  background-color: white;
}

.horizontal-scroll {
  @extend .flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  div {
    flex: 0 0 auto;
  }
}

.scroll-area {
  position: relative;
  > :first-child {
    @media screen and (min-width: map-get($breakpoints, 'tablet')) {
      padding-left: calc(50% - 500px);
    }
  }
}

.fade-right {
  position: absolute;
  width: 60px;
  height: 100%;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  top: 0;
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  right: 0;
}

.content-header {
  @extend .container;
  margin: 50vh auto -20px;
  height: 80px;
  border-radius: $size_space*4 $size_space*4 0 0;
  background-color: white;
  display: flex;
  h1 {
    margin: $size_space*3 $size_space*4 0;
  }
}

.responsive {
  flex-direction: column;
  @media screen and (min-width: map-get($breakpoints, 'laptop')) {
    justify-content: space-around;
    flex-direction: row;
  }
}