.header {
  @extend .container;
  @extend .flex;
  height: $size_header;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  img {
    margin: $size_space $size_space*2;
    height: $size_image-icon*2;
  }
}

.header-offers {
  div {
    @extend .flex;
    background-color: white;
    border-radius: 100px;
    margin: $size_space $size_space;
    padding: 0 $size_space 0 $size_space * 2;
    cursor: pointer;
    z-index: 2;
    align-items: center;
    font-size: $size_font_small;
    span {
      font-size: $size_font;
    }
    i {
      margin: $size_space/2 $size_space/2 0;
      height: $size_image-icon-big;
      width: $size_image-icon-big;
      color: $color__pacific;
    }
  }
}

.hero-area {
  z-index: -1;
  position: fixed;
  top: 0;
  height: 60vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;

  .container {
    height: 100%;
  }
}
