
.cards {
  @include font-default();
  @extend .horizontal-scroll;
  margin-bottom: $size_space*4;
  div {
    @extend .column;
    justify-content: flex-end;
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: $size_space;
    margin-left: 0;
    border-radius: 5px 5px 8px 8px;
    color: white;
    cursor: pointer;
    transition: $default-transition;
    &:hover {
      box-shadow: $shadow_default;
    }
    h3 {
      margin: 0 $size_space;
      text-shadow: 0 0 10px black;
      letter-spacing: 1px;
    }
    p {
      font-size: $size_font_small;
      color: $color__ashgray;
      background-color: white;
      margin: $size_space 0 0;
      padding: $size_space $size_space/2;
      border-radius: 0 0 5px 2px;
    }
  }
}
