.offer-list {
  @extend .column;
  max-height: 500px;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: unset;
  > div {
    @extend .flex;
    flex-wrap: wrap;
    margin: $size_space 0 $size_space*3;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }

  span {
    color: $color__pacific;
    font-size: $size_font_big;
  }
  
  img {
    height: $size_image-icon-big;
    width: $size_image-icon-big;
    margin: auto 0 -7px;
  }
}

.offer {
  padding: $size_space;
  position: relative;
  transition: $default-transition;

  & + .offer {
    margin-left: $size_space*2;
  }

  &:hover {
    background-color: $color__background;
    border-radius: 4px;
  }

  i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: $size_image-icon-big;
    color: $color__pacific;
  }
}

.small-offers {
  text-align: left;

  & > div {
    margin-bottom: $size_space*2;
  }
}

.small-offers,
.offer-list {
  h4 {
    margin: 0;
    text-transform: capitalize;
  }

  p {
    color: $color__ashgray;
    font-size: $size_font_small;
    margin: 0;
  }
}

.offers {
  justify-content: space-evenly;

  div {
    cursor: pointer;

    & + div {
      margin-top: $size_space;
    }
  }
}

.small-offers {
  .column div > div {
    @extend .flex;
    align-items: center;
    i {
      margin: 0 20px 0 auto;
      color: $color__pacific;
    }
  }
}
