.tags {
  @extend .horizontal-scroll;
  div {
    padding: $size_space*2 0;
    padding: $size_space $size_space*2;
    border-radius: 20px;
    letter-spacing: 1px;
    font-size: $size_font_small;
    margin: $size_space*2 $size_space $size_space*2 0;
    transition: $default-transition;
    cursor: pointer;
    background-color: $color__background;
    color: black;
    &:hover {
      background-color: $color__pacific;
      color: white;
    }
  }
}
