$shadow_default: 0 1px 30px rgba(0, 0, 0, 0.2);
$shadow_hover: 0 2px 10px rgba(0, 0, 0, 0.5);

$color_highlight: #2857A3;
$color_highlight-background: hsla(217, 61%, 40%, 0.9);
$color_dark-background: #000000da;
$color_light-background: #f8f8f8;


$color__background: #f2f2f2;
$color__content-border: #d9d9d9;
$color__content-background: #ffffff;
$color__piratepurple: #6A3460;
$color__purple-higlight: #99558E;
$color__purple-pressed: #56284E;
$color__purple-disabled: #E3C6DE;
$color__bonegray: #F5F5F5;
$color__whiteflag: #ECECEC;
$color__whiteflag-80: #ecececcc;
$color__whiteflag-60: #ececec60;
$color__ashgray: #B8B8B8;
$color__taupegray: #888;
$color__parakeet: #70B62C;
$color__parakeet--hover: #7AC92E;
$color__parakeet--pressed: #5B9223;
$color__parakeet--disabled: #D5EAC0;
$color__pacific: #219BC6;
$color__pacific--hover: #1DB1E5;
$color__pacific--pressed: #1A7D9F;
$color__pacific--disabled: #BDE2EF;
$color__maitai: #F9BF38;
$color__maitai--hover: #FDCE60;
$color__maitai--pressed: #F3AA01;
$color__maitai--disabled: #FAE7BA;
$color__barrel: #914707;
$color__nelson: #FE8D40;
$color__hulahula: #F25F5C;
$color__white: #FFF;
$color__pirateblack: #333;
$color__pirateblack-80: #333333cc;
